In [57]:
import pandas as pd
from provinces import bangkok_variations

In [58]:
data = {
    "name": ["Q", "John"],
    "location": ["กทม.", "กรุงเทพฯ"],
}

In [59]:
print(data)

{'name': ['Q', 'John'], 'location': ['กทม.', 'กรุงเทพฯ']}

In [60]:
df = pd.DataFrame(data)

In [61]:
df.head()

   name  location
0     Q      กทม.
1  John  กรุงเทพฯ

In [62]:
# bangkok_variations = ["กทม.","กรุงเทพฯ"]

In [63]:
def clean_thai_province(value):
    if value in bangkok_variations:
        return "Bangkok"

In [64]:
new_df = df.copy(deep=True)

In [65]:
new_df["location"].map(clean_thai_province)

0    Bangkok
1    Bangkok
Name: location, dtype: object